body {
  margin: 0;
  min-height: 100vh;



  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: 'Inter', sans-serif;
}